#header {
    background-color: #f06060;
    padding: 52px 0px;
}

.p {
    padding-top: 20px;
}

.pp {
    padding-top: 200px;
    padding-left: 20px;
    float:left;
    position: absolute;
    border:thin;
}

.graf{
    width:600px;
    height: 300px;
    position: absolute;
    float:left;
    margin-top: -250px;
    margin-left: 10px;
}

.ppp{
    padding-top:800px;
    float:left;
    position: absolute;
}
