#header {
    background-color: #f06060;
    padding: 52px 0px;
}

.p {
    padding-top: 20px;
}

.pp {
    padding-top: 100px;
    padding-left: 20px;
    float:left;
    position: absolute;
    border:thin;
}

.graf{
    width:600px;
    height: 300px;
    position: absolute;
    float:right;
    margin-top: 40px;
    margin-left: 650px;
}
