#header {
    background-color: #f06060;
    padding: 52px 0px;
}

.p {
    padding-top: 20px;
}

.pp {
    padding-top: 200px;
    padding-left: 20px;
    float:left;
    position: absolute;
    border:thin;
}

.graf{
    width:600px;
    height: 300px;
    position: absolute;
    float:left;
    margin-top: -250px;
    margin-left: 10px;
}

.ppp{
    padding-top:800px;
    float:left;
    position: absolute;
}

.maps{
    height: 500px;
    width: 790px;
    margin-left: 790px;
    margin-top:-650px;
}

.border{
    border-radius: 25px;
    border: 2px solid #f06060;
}

.margin{
    margin-left: 100px;
}

.margin2{
    margin-left: 900px;
}

.kontejner{
    margin-top:10px;
    height:210px;
    width:100%;
}

.krneki{
    margin-top:0px;
    margin-left:20px;
    width:47%;
    height:230px;
}

.seennov{
    margin-top:390px;
    margin-left:20px;
    font-family: Comic Sans Ms
}

.zapar{
    margin-left: 10px;
}

.zadnji{
    margin-left: 800px;
    margin-top:20px;
    height: 130px;
}